<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <div class="h-screen flex-grow-1 overflow">

    <!-- Main content -->
      <!-- Header -->
      <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">Dashboard</h1>
                    </div>
                    <!-- Actions -->
                </div>
                <!-- Nav -->
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                    <li class="nav-item ">
                        <a href="#" class="nav-link active">All files</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
      <!-- Main -->
      <main class="py-6 bg-surface-secondary">
       
        <div class="container-fluid">
          <!-- Card stats -->
          <div class="row g-6 mb-6">
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <!--  -->
                      <div class="progress-bar-xs progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                          aria-valuemax="100" style="width: 89%;"></div>
  
                      </div>
                      <!--  -->
                    </div>
  
                    <div class="widget-content-left fsize-1">
                      <div class="text-danger fs-5 fw-bolder ">B+
  
                      </div>
                    </div>
                  </div>
                  <!-- //// -->
  
                  <!-- //// -->
  
                </div>
              </div>
            </div>
  
  
  
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <!--  -->
                      <div class="progress-bar-xs progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                          aria-valuemax="100" style="width: 65%;"></div>
  
                      </div>
                      <!--  -->
                    </div>
  
                    <div class="widget-content-left fsize-1">
                      <div class="text-warning fs-5 fw-bolder ">A-
  
                      </div>
                    </div>
                  </div>
                  <!-- //// -->
  
                  <!-- //// -->
  
                </div>
              </div>
            </div>
  
  
  
  
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <!--  -->
                      <div class="progress-bar-xs progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                          aria-valuemax="100" style="width: 45%;"></div>
  
                      </div>
                      <!--  -->
                    </div>
  
                    <div class="widget-content-left fsize-1">
                      <div class="text-success fs-5 fw-bolder ">O
  
                      </div>
                    </div>
                  </div>
                  <!-- //// -->
  
                  <!-- //// -->
  
                </div>
              </div>
            </div>
  
  
  
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <!--  -->
                      <div class="progress-bar-xs progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                          aria-valuemax="100" style="width: 30%;"></div>
  
                      </div>
                      <!--  -->
                    </div>
  
                    <div class="widget-content-left fsize-1">
                      <div class="text-info fs-5 fw-bolder ">AB+
  
                      </div>
                    </div>
                  </div>
                  <!-- //// -->
  
                  <!-- //// -->
  
                </div>
              </div>
            </div>
       
          <div class="card shadow border-0 mb-7">
            <div class="card-header">
              <h5 class="mb-0 fs-5">Users</h5>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Wieght</th>
                    <th scope="col">Birthdate</th>



                  
                  </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let user of users"> 
                    <td>
                      {{user.id}}
                    </td>
                    <td>
                      {{user.name}}
                    </td>
                    <td>
                      {{user.email}}
                    </td>
                    <td>
                      {{user.phone}}
                   
                    </td>
                    <td>
                        {{user.address}}
                     
                      </td>
                      <td>
                        {{user.wieght}}
                     
                      </td>
                      <td>
                        {{user.birthdate}}
                     
                      </td>
                  </tr>
  
                </tbody>
              </table>
            </div>
            <div class="card-footer border-0 py-5">
              <span class="text-muted text-sm">Showing {{users.length}} user</span>
            </div>
          </div>
          </div>
        </div>
      </main>
    
  </div>
  
</div>