<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./register.component.css">
  <title>Document</title>
</head>

<body>



  <section class="h-100 gradient-form">
    <div class="container py-5 h-100">
      <div class="alert alert-danger text-center" role="alert" *ngIf="errMsg[0]">

        This Email Already has Account.
      </div>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <form [formGroup]="registerForm">
                    <h3 class="fw-normal mb-5" id="h3">General Infomation</h3>
                    <div class="form-group row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev2" id="firstname">First name</label>
                          <input type="text" formControlName="firstName" [class.is-valid]="isValid('firstName')"
                            required class="form-control form-control-lg" />
                          <div
                            *ngIf="registerForm.controls['firstName'].errors && (registerForm.controls['firstName'].touched)">
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['firstName'].errors && registerForm.controls['firstName'].errors ['required']">first
                              name
                              is
                              requierd</small>
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['firstName'].errors['minlength'] ">
                              minimum
                              length is 3 </small>
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['firstName'].errors['maxlength']">
                              maximum length
                              is 10</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev3" id="lastname">Last name</label>
                          <input formControlName="lastName" [class.is-valid]="isValid('lastName')" type="text" required
                            class="form-control form-control-lg" />
                          <div
                            *ngIf="registerForm.controls['lastName'].errors && (registerForm.controls['lastName'].touched)">
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['lastName'].errors && registerForm.controls['lastName'].errors ['required']">last
                              name
                              is
                              requierd</small>
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['lastName'].errors['minlength'] ">
                              minimum
                              length is 3 </small>
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['lastName'].errors['maxlength']">
                              maximum length
                              is 10</small>
                          </div>
                        </div>
                      </div>

                    </div>




                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22" id="donate">Date of Birth</label>
                      <input type="date" formControlName="birthdate" [class.is-valid]="isValid('birthdate')" required
                        class="form-control" />
                      <div
                        *ngIf="registerForm.controls['birthdate'].errors && (registerForm.controls['birthdate'].touched)">
                        <small class="form-text text-dark "
                          *ngIf="registerForm.controls['birthdate'].errors && registerForm.controls['birthdate'].errors ['required']">
                          date
                          is
                          requierd</small>

                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22" id="gender">Gender</label>
                      <select formControlName="gender" [class.is-valid]="isValid('gender')" class="select"
                        style="margin-left: 80px; padding-right: 95px;">
                        <option disabled selected value>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>


                      </select>
                      <div *ngIf="registerForm.controls['gender'].errors && (registerForm.controls['gender'].touched)">
                        <small class="form-text text-dark "
                          *ngIf="registerForm.controls['gender'].errors && registerForm.controls['gender'].errors ['required']">
                          gender
                          is
                          requierd</small>

                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22" id="password">Password</label>
                      <input type="password" formControlName="password" [class.is-valid]="isValid('password')" required
                        class="form-control" />
                      <div
                        *ngIf="registerForm.controls['password'].errors && (registerForm.controls['password'].touched)">
                        <small class="form-text text-dark "
                          *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].errors ['required']">password
                          is
                          requierd</small>
                        <small class="form-text text-dark"
                          *ngIf="registerForm.controls['password'].errors['minlength'] ">
                          minimum
                          length is 6 </small>
                        <small class="form-text text-dark " *ngIf="registerForm.controls['password'].errors['pattern']">
                          email should be
                          containe numbers and capital letters </small>
                        <small class="form-text text-dark "
                          *ngIf="registerForm.controls['password'].errors['maxlength']">
                          maximum length
                          is 20</small>
                      </div>
                      <!-- </div> -->

                    </div>
                    <!-- <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22" id="password">Confirm Password</label>
                      <input type="password" formControlName="confirmPassword" required
                        [class.is-valid]="isValid('confirmPassword')" class="form-control" />

                      <div
                        *ngIf="registerForm.controls['confirmPassword'].errors && (registerForm.controls['confirmPassword'].touched)">
                        <small class="form-text text-danger "
                          *ngIf="registerForm.controls['confirmPassword'].errors && registerForm.controls['confirmPassword'].errors ['required']">password
                          is
                          requierd</small>


                      </div>
                    </div> -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22" id="password">Weight</label>
                      <input type="password" formControlName="weight" [class.is-valid]="isValid('weight')"
                        class="form-control" required />

                      <div *ngIf="registerForm.controls['weight'].errors && (registerForm.controls['weight'].touched)">
                        <small class="form-text text-dark "
                          *ngIf="registerForm.controls['weight'].errors && registerForm.controls['weight'].errors ['required']">
                          weight
                          is
                          requierd</small>
                        <small class="form-text text-dark "
                          *ngIf="registerForm.controls['weight'].errors['minlength'] ">
                          minimum
                          length is 1 </small>
                        <small class="form-text text-dark " *ngIf="registerForm.controls['weight'].errors['maxlength']">
                          maximum length
                          is 3</small>

                      </div>
                    </div>
                  </form>

                </div>
              </div>

              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Contact Details</h3>
                  <div class="form-outline mb-4" [formGroup]="registerForm">
                    <label class="form-label" for="form2Example11">Email</label>
                    <input type="email" class="form-control" [class.is-valid]="isValid('email')" required
                      formControlName="email" />
                    <div *ngIf="registerForm.controls['email'].errors && (registerForm.controls['email'].touched)">
                      <small class="form-text text-dark "
                        *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors ['required']">email
                        is
                        requierd</small>
                      <small class="form-text text-danrk " *ngIf="registerForm.controls['email'].errors['minlength'] ">
                        minimum
                        length is 7 </small>
                      <small class="form-text text-dark " *ngIf="registerForm.controls['email'].errors['pattern']">
                        email should be
                        containe @ </small>
                      <small class="form-text text-dark " *ngIf="registerForm.controls['email'].errors['maxlength']">
                        maximum length
                        is 40</small>
                    </div>
                  </div>
                  <div class="form-outline mb-4" [formGroup]="registerForm">
                    <label class="form-label" for="form3Examplea2">Phone Number</label>
                    <input type="text" formControlName="phone" [class.is-valid]="isValid('phone')" required
                      class="form-control" />
                    <div *ngIf="registerForm.controls['phone'].errors && (registerForm.controls['phone'].touched)">
                      <small class="form-text text-dark "
                        *ngIf="registerForm.controls['phone'].errors && registerForm.controls['phone'].errors ['required']">
                        phone
                        is
                        requierd</small>
                      <small class="form-text text-dark" *ngIf="registerForm.controls['phone'].errors['minlength'] ">
                        minimum
                        length is 11 </small><br>
                      <small class="form-text text-dark " *ngIf="registerForm.controls['phone'].errors['maxlength']">
                        maximum length
                        is 11</small>
                      <small class="form-text text-dark " *ngIf="registerForm.controls['phone'].errors['pattern']">
                        phone number should be started with 010 or 011 or 012 or 015</small>
                    </div>
                  </div>
                  <div class="form-outline mb-4" [formGroup]="registerForm">
                    <label class="form-label" for="form3Examplea2">Address</label><br>
                    <input type="text" formControlName="street" [class.is-valid]="isValid('street')" requierd
                      class="form-control" />
                    <div *ngIf="registerForm.controls['street'].errors && (registerForm.controls['street'].touched)">
                      <small class="form-text text-dark"
                        *ngIf="registerForm.controls['street'].errors && registerForm.controls['street'].errors ['required']">
                        street
                        is
                        requierd</small>
                      <small class="form-text text-danger "
                        *ngIf="registerForm.controls['street'].errors['minlength'] ">
                        minimum
                        length is 4 </small>
                      <small class="form-text text-danger " *ngIf="registerForm.controls['street'].errors['maxlength']">
                        maximum length
                        is 15</small>
                    </div>
                    <label class="form-label" for="form3Examplev2">Street Address</label>

                    <div class="form-group row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" formControlName="city" [class.is-valid]="isValid('city')" required
                            class="form-control form-control-lg" />
                          <div *ngIf="registerForm.controls['city'].errors && (registerForm.controls['city'].touched)">
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['city'].errors && registerForm.controls['city'].errors ['required']">
                              city
                              is
                              requierd</small>
                            <small class="form-text text-danger "
                              *ngIf="registerForm.controls['city'].errors['minlength'] ">
                              minimum
                              length is 4 </small>
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['city'].errors['maxlength']">
                              maximum length
                              is 15</small>
                          </div>
                          <label class="form-label" for="form3Examplev2">City</label>

                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" formControlName="state" [class.is-valid]="isValid('state') " required
                            class="form-control form-control-lg" />
                          <div
                            *ngIf="registerForm.controls['state'].errors && (registerForm.controls['state'].touched)">
                            <small class="form-text text-dark "
                              *ngIf="registerForm.controls['state'].errors && registerForm.controls['state'].errors ['required']">
                              state
                              is
                              requierd</small>
                            <small class="form-text text-danger "
                              *ngIf="registerForm.controls['state'].errors['minlength'] ">
                              minimum
                              length is 4 </small>
                            <small class="form-text text-danger "
                              *ngIf="registerForm.controls['state'].errors['maxlength']">
                              maximum length
                              is 15</small>
                          </div>
                          <label class="form-label" for="form3Examplev3">State / Province</label>

                        </div>
                      </div>
                      <div class="form-check d-flex justify-content-center mb-5">
                        <input class="form-check-input me-2" type="checkbox" />
                        <label class="form-check-label" for="form2Example3g">
                          I agree all statements in <a routerLink="/login" class="text-body"><u>Terms of service</u></a>
                        </label>
                      </div>

                    </div>
                  </div>

                  <button type="button" [disabled]="registerForm.invalid" class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark" (click)="sign_up()">Register</button>
                  <p class="text-center" style="color:white;">Have already an account? <a routerLink="/login"
                      class="fw-bold text-body"><u>Login here</u></a></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

  </section>

  <script src="/path/to/cdn/jquery.min.js"></script>
  <script src="/path/to/jquery.picky.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <br>
</body>

</html>
