html{
    height: 100%;

}

body{
    font-family: 'Artifika', serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  /* min-height: 100%; */
    /* margin:0;
    padding:0;
    height:100%;
    display: flex; */
    /* min-height: 100vh; */
    /* flex-direction: column;
     */
/* 
     height: 100%;

margin: 0px; */
/* height: 100%; */
/* padding-bottom:60px; */


/* display: grid;
grid-template-rows: auto auto auto; */

}

.pageContentWrapper{
    
  /* margin: auto 0;
flex-grow: 1; */ 
    /* padding-bottom:20%; */
    /* position: absolute;  */
    /* display: block;
    flex: 1 0 auto; */
    /* min-height: 100%;
    height: auto !important;
 
    /* margin: 0 auto ; */ 
    /* height:100vh; 
    margin:0; 
    display:flex; 
    flex-direction:column;   */
  
  flex: 1; 
  height: calc(100% - 60px);
  /* padding-bottom:60px; */
  background-color: transparent;
/* position: relative; */


  } 
footer{
    /* clear: both; */
    /* bottom:0; */
    /* position:relative; */

    /* position: relative; */
    margin-top:auto; 
    width: 100%;
    bottom: 0px;
    /* margin-top:calc(5% + 60px); */
    background-color:rgb(50, 68, 87);
    display: grid;
    align-self: end;
    /* position:relative; */


}
footer >.copy{
    background-color:rgb(27, 40, 53);
    font-size: 15px;

}
