body {
  font-family: 'Artifika', serif;
}


.fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  transition: 0.25s linear;

}

.nofixed {
  position: static;
  transition: 0.25s linear;
  top: -50px;
}

/* .bi {
    font-size:100%;
} */
.navbar-brand {
  /* color:rgb(255, 89, 89); */
  color: rgb(240, 84, 84);
  font-weight: 800;
  font-size: 28px;
  padding-left: 1%;
}

nav {
  /* background-color:rgb(250, 251, 255); */
  background-color: rgb(248, 248, 248);
  padding: 20px 30px;
  z-index: 5;




}

li>.nav-link {
  /* color:rgb(103, 111, 163); */
  color: rgb(76, 107, 138);
  font-weight: 600;
  font-size: 15px;





}

li>.nav-link:hover {
  color: rgb(240, 84, 84);
  background-color: transparent;
}

.drop {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.navbar-toggler-icon {
  color: rgb(230, 78, 78);
  font-size: 24px;
  font-weight: 900;
}
