<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>donatelife</title>
</head>

<body>


  <nav class="navbar navbar-expand-lg  fixed-top  shadow-sm " (scroll)='onScroll()'
    [ngClass]=" navbarfixed ?'fixed':'nofixed' ">
    <div class="container-fluid">
      <a class="navbar-brand " routerLink="home" routerLinkActive="router-link-active"> <i
          class="bi bi-chat-right-heart "></i> donatelife </a>

      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <!-- <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button> -->




      <div class=" navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav   ms-auto">
          <ul class=" nav nav-pills  ms-auto ">


              <!--start notification-->
              <li ngbDropdown class="nav-item ">
                <a class="nav-link dropdown-toggle" (click)="active()"
                [ngStyle]="{'background-color':isActive? 'transparent' : 'transparent' }"
                id="navbarDropdownMenuLink" ngbDropdownToggle role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                  <i class="bi bi-bell" ></i><sup><span  class="rounded-circle bg-danger text-white">{{numberOfNotification}}</span></sup> </a>
                <ul class="dropdown drop" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
                  <li class="nav-link scrollto" routerLinkActive="router-link-active" [hidden]="!listOfNotification[0]" (click)="markAsRead()">Clear<i class="bi bi-check2-circle"></i></li>
                  <li *ngFor="let item of listOfNotification"><a class="nav-link scrollto" routerLink="/profile-page/{{item.donner_id}}" routerLinkActive="router-link-active">{{item.notification_message}}</a></li>
                </ul>
              </li>
              <!--end notification-->

            <li class="nav-item "><a class="nav-link scrollto" routerLink="home" routerLinkActive="router-link-active">
                Home </a></li>



                <li class="nav-item " ngbDropdown>
                  <a class="nav-link dropdown-toggle" (click)="active()"
                    [ngStyle]="{'background-color':isActive? 'transparent' : 'transparent' }"
                    id="navbarDropdownMenuLink" ngbDropdownToggle role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Donate Blood </a>
                  <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
                    <li><a class="dropdown-item" ngbDropdownItem routerLink="/eligibilty-quiz"> Eligibilty Quiz</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem routerLink="/make-request"> Make Request </a></li>
                    <li><a class="dropdown-item" ngbDropdownItem routerLink="/requests"> Requests for Blood </a></li>
                    <li><a class="dropdown-item" ngbDropdownItem routerLink="/donors"> Volunteers </a></li>
                  </ul>
                </li>            <!-- droooooop -->

            <li class="nav-item " ngbDropdown>
              <a class="nav-link dropdown-toggle" (click)="active()"
                [ngStyle]="{'background-color':isActive? 'transparent' : 'transparent' }"
                id="navbarDropdownMenuLink" ngbDropdownToggle role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Health Care </a>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
                <li><a class="dropdown-item" ngbDropdownItem routerLink="/faq">Frequently questions</a></li>
              </ul>
            </li>

            <!-- drooop -->


            <li ngbDropdown class="nav-item">
              <a class="nav-link dropdown-toggle" (click)="active()"
              [ngStyle]="{'background-color':isActive? 'transparent' : 'transparent' }"
              id="navbarDropdownMenuLink" ngbDropdownToggle role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
                Articles & Posts </a>
              <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" ngbDropdownItem routerLink="articles"> Articles</a></li>
                <li><a class="dropdown-item" ngbDropdownItem routerLink="posts"> Posts</a></li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link scrollto" routerLink="contact-us"> Contact Us </a></li>

            <ul class="nav me-2">
              <li class="nav-item" *ngIf="!isLogged"><a class="nav-link scrollto" routerLink="/login"> Log in</a></li>
              <li class="nav-item" *ngIf="isLogged"><a class="nav-link scrollto" routerLink="/logout"> Log out</a></li>
              <li class="nav-item"><a class="nav-link scrollto" routerLink="profile"
                  routerLinkActive="router-link-active"><i class="bi bi-person-fill"></i></a></li>
            </ul>






          </ul>

        </div>
      </div>
    </div>
  </nav>





</body>

</html>
