
    <nav class="navbar navbar-expand-lg fixed-top  navbar-light shadow-sm  " (scroll)='onScroll()' [ngClass]=" navbarfixed ?'fixed':'nofixed' ">
     <div class="container">
       <a class="navbar-brand" href="#">    <i class="bi bi-chat-right-heart "></i> 
        donatelife  </a>
      <ul id="main_nav" class="nav nav-pills ms-auto">
        <li class="nav-item"><a class="nav-link scrollto" href="#section_1"> Section one </a></li>
        <li class="nav-item"><a class="nav-link scrollto" href="#section_2"> Section two </a></li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link scrollto" href="#section_3"> Section three </a></li>
        <li class="nav-item"><a class="nav-link scrollto" href="#section_4"> Section four </a></li>
        </ul>
        <ul  class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link scrollto"  href="#"><i class="bi bi-bell-fill"></i></a></li>
        <li class="nav-item"><a class="nav-link scrollto"  href="#"><i class="bi bi-person-fill"></i></a></li>


      </ul>
     </div> <!-- container .// -->
    </nav>

    
    <!-- your html content -->
    
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>



<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>hello</div>
<br>
<br>
<br>
<br>
<br>
<br>




</body>
</html>




<footer class="text-center ">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-danger mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 copyrighr" >
    © 2022 Copyright iti
  </div>
  <!-- Copyright -->
</footer>
