body {
  margin: 0;
  padding-top: 40px;
  color: #2e323c;
  background-color: #f8f8f8;
  position: relative;
  height: 100%;
}

 /* .card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
} */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f8f8f8;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /* margin-left: 20px; */
}
 .counter {
  /* padding: 22px 20px; */
  margin-top: 40px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  }
 .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
  }
.counter .count {
  font-weight: 700;
  color: rgb(76, 107, 138);
  margin: 0 0 5px;
  }
   .counter p {
  font-weight: 600;
  margin: 0;
  }
h3{
  color: red;
}
