<div class="w-100 gray_background mt-5 p-5">
    <p class="h3 pink_text text-center ">Frequently asked questions</p>
    <p class="text-center">It’s normal to have some questions about donating. We may already have an answer ready for you below.</p>
</div>

<hr class="btmspace-80 m-5 ">

<div class="row d-flex justify-content-center m-5">
    <div class="col-lg-4">
    <a routerLink="/faq/medication-and-medical-devices" class="link_decoration text-dark">
        <div class=" gray_background p-5  h-100">
            <p class="h5">Medication and medical devices</p>
            <p class="opacity-75">Most medications don’t affect whether you can donate, but some do. See if yours might affect your ability to donate. </p>
            <p class="opacity-50">12 questions</p>
        </div>
    </a>
</div>

<div class="col-lg-4 ">
    <a href="#" class="link_decoration text-dark">
        <div class="gray_background p-5 h-100">
            <p class="h5">Lifestyle</p>
            <p class="opacity-75">Unsure whether you can donate blood if you've had a drink or got a tattoo? Let's talk about it.  </p>
            <p class="opacity-50">3 questions</p>
        </div>
    </a>
</div>

<div class="col-lg-4">
    <a href="#" class="link_decoration text-dark">
        <div class="gray_background p-5  h-100">
            <p class="h5">Pregnancy and childbirth</p>
            <p class="opacity-75">It’s important you don’t put your body under unnecessary strain. Find out how long you need to wait before you can donate.</p>
            <p class="opacity-50">4 questions</p>
        </div>
    </a>
</div>
    
</div>

<div class="row d-flex justify-content-center m-5">
    <div class="col-lg-4">
        <a href="#" class="link_decoration text-dark">
            <div class=" gray_background p-5  h-100">
                <p class="h5">Work, travel and living overseas</p>
                <p class="opacity-75">Some places you travel to or live in can affect whether you can donate, or when. Find out how. </p>
                <p class="opacity-50">4 questions</p>
            </div>
        </a>
</div>

<div class="col-lg-4">
    <a href="#" class="link_decoration text-dark">
        <div class=" gray_background p-5  h-100">
            <p class="h5">Medical conditions and procedures</p>
            <p class="opacity-75">Some medical conditions mean you need to wait before donating blood. Find yours in the list below. </p>
            <p class="opacity-50">40 questions</p>
        </div>
    </a>
</div>

<div class="col-lg-4">
    <a href="#" class="link_decoration text-dark">
        <div class=" gray_background p-5  h-100">
            <p class="h5">Other</p>
            <p class="opacity-75">Need a different question answered? Take a look and find it here.</p>
            <p class="opacity-50">7 questions</p>
        </div>
    </a>
</div>
    
</div>
