@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Kalam&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif
 }

 .wrapper {
     max-width: 850px;
     margin: 50px auto;
     height: 600px;
     background-color: #FFF;
     overflow: hidden;
     box-shadow: 5px 25px 35px #3535356b
 }

 .wrapper .bg-yellow {
     background-color: rgb(226, 96, 96);
     height: 100%;
     width: 40%;
     padding-top: 40px;
     padding-left: 50px;
     padding-right: 20px
 }

 .wrapper .bg-yellow .text-white {
     font-size: 3rem
 }

 .wrapper .bg-yellow .cursive {
     font-family: 'Kalam', cursive;
     font-size: 1rem;
     font-weight: 600
 }

 .wrapper .contact-form {
     width: 100%;
     padding: 40px 80px 40px 50px
 }

 .wrapper .contact-form .h3 {
     padding-top: 15px;
     font-weight: 700
 }

 .wrapper .contact-form label {
     font-size: 0.9rem;
     color: #555;
     font-weight: 500;
     margin-bottom: 10px
 }

 .wrapper .contact-form textarea {
     height: 120px
 }

 .wrapper .contact-form .form-control {
     background-color: #e7e7e7;
     box-shadow: none;
     font-weight: 600;
     font-size: 0.95rem;
     border: none;
     border-top: 1px solid #bbb
 }

 .wrapper .contact-form .btn {
     font-size: 1.2rem;
     font-weight: 700
 }

 .wrapper .contact-form .btn.btn-default {
     color: rgb(240, 84, 84)
 }

 .wrapper .contact-form .btn.btn-primary {
     background: rgb(240, 84, 84);
     border: none;
     padding: 8px 18px;
     box-shadow: 0 8px 12px #3535356b
 }

 .wrapper .contact-form .btn.btn-primary:hover {
     background-color: rgb(226, 96, 96)
 }

 .modal .modal-content .modal-header .fas {
     color: rgb(240, 84, 84)
 }

 @media(max-width: 900.5px) {
     .wrapper {
         margin: 20px
     }
 }

 @media(max-width: 575.5px) {
     .wrapper .contact-form {
         padding: 40px
     }

     .wrapper .bg-yellow {
         padding-left: 30px
     }
 }

 @media(max-width: 496px) {
     .wrapper .bg-yellow {
         display: none
     }
 }

 @media(max-width: 350px) {
     .wrapper {
         height: 570px
     }

     .wrapper .contact-form {
         padding: 20px
     }
 }