<!--Google map-->
<!-- <link rel="stylesheet" href="./location.component.css">
<div class="container">
  <h3 class="text-uppercase text-center mb-4" style="color: red;">
    Blood Requests
  </h3>
  <div class="card mb-3">


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6082063.583512428!2d28.12257312017833!3d27.727878472139032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14368976c35c36e9%3A0x2c45a00925c4c444!2sEgypt!5e0!3m2!1sen!2seg!4v1644823689215!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
   </div>
</div> -->


<!--Google Maps-->
<!-- <button (click)="getLocation()">Go to location</button>
     <p id="demo1"></p> -->
<!--Google map-->
<link rel="stylesheet" href="./location.component.css">
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=2sEgypt&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
</div>

<!--Google Maps-->
