<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Make-Reqiest</title>
</head>

<body class="hh">

  <div class="container">



    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="account-settings">
              <div class="user-profile">
                <div class="user-avatar">
                  <img src="http://localhost:8000/storage/{{user.avatar}}" alt="">
                </div>
                <h5 class="user-name">{{user.name}}</h5>
                <h6 class="user-email">{{user.email}}</h6>
              </div>
              <div class="about">
                <h5 class="text-info">About</h5>
                <p> Address: {{user.address}}</p>
                <p>Phone: {{user.phone}}</p>
              </div>
            </div>
            <div class="container">

              <a class="btn btn-outline-primary btn-floating m-1" href="www.facebook.com" role="button">
                <i class="bi bi-facebook"></i></a>
              <a class="btn btn-outline-danger btn-floating m-1" href="www.gmail.com" role="button">
                <i class="bi bi-google"></i></a>
              <a class="btn btn-outline-success btn-floating m-1" href="www.whatsapp.com" role="button" target="_blank">
                <i class="bi bi-whatsapp"></i></a>

            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" >
        <div class="card h-100">
          <div class="card-body" [formGroup]="formRequest">

            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <h6 class="mb-2 main  fs-3">Request Details</h6>
              </div>




              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " >
                <div class="form-group ">
                  <label for="phone">Phone Number</label>
                  <input type="text" class="form-control" id="phone"
                  formControlName="phone" placeholder="Enter phone number">
                  <div *ngIf="isInValidAndTouched('phone')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('phone','required')">required
                        field</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('phone','pattern')">invalid
                        phone number</small>
                </div>


                </div>
              </div>

            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mt-3 mb-2 text-dark  fs-6">Address :-</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="Street">Street</label>

                  <input type="text" class="form-control" id="Street"
                  formControlName="street" placeholder="Enter Street">
                  <div *ngIf="isInValidAndTouched('street')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('street','required')">Street is Required </small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('street','maxlength')">Maximum length is 60 </small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('street','pattern')">No special characters  </small>
                </div>

                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">

                  <label for="ciTy">City</label>
                  <input type="text" class="form-control"
                  formControlName="city" id="ciTy" placeholder="Enter City">
                  <div *ngIf="isInValidAndTouched('city')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('city','required')">City is Required</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('city','maxlength')">Maximum length is 30</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('city','pattern')">Only characters</small>

                </div>


                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">

                  <label for="sTate">State</label>
                  <input type="text" class="form-control"
                  formControlName="state" id="sTate" placeholder="Enter State">
                  <div *ngIf="isInValidAndTouched('state')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('state','required')">State is Required</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('state','maxlength')">Maximum length is 30</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('state','pattern')">Only characters</small>
                </div>


                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">

                  <label for="zIp">Zip Code</label>
                  <input type="text" class="form-control"
                  formControlName="zip" id="zIp" placeholder="Zip Code">
                  <div *ngIf="isInValidAndTouched('zip')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('zip','required')">Zip Code is Required</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('zip','pattern')">Zip Code is invalid</small>

                </div>

                </div>


              </div>
              <div class="form-group">

                <label for="fullName">Description</label>
                <textarea class="form-control" placeholder="Leave a description here"
                formControlName="description"  id="floatingTextarea2"
                  style="height: 100px"></textarea>
                  <div *ngIf="isInValidAndTouched('description')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('description','required')">Description is Required</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('description','minlength')">Minimum length is 20</small>

                </div>


              </div>

              <div class="form-group">
                <label for="fullName">Blood Group</label>

                <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="blood_group">

                  <option selected value="o"> O</option>
                  <option value="B"> B </option>
                  <option value="AB"> AB </option>
                  <option value="A">A</option>
                </select>

              </div>
              <div class="form-group">
                <label for="fullName">RH</label>

                <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="rhd">

                  <option selected value="+">positive</option>
                  <option value="-">negative</option>
                </select>

              </div>

              <div class="form-group">
                <label for="fullName">Quantity</label>

                <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="quantity">
                  <option selected value="1">1</option>

                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>

              </div>


            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " >
              <div class="form-group ">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date"
                formControlName="date">
                <div *ngIf="isInValidAndTouched('date')">
                  <small class="form-text text-danger" *ngIf="isControlHasError('date','required')">Date is Required</small>
              </div>
              </div>
            </div>

            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">

                  <br>

                  <button type="button" id="submit" name="submit" routerLink="/home"  class="btn btn-info">Cancel</button>
                  <button type="button" id="submit" name="submit" class="btn btn-danger m-2" [disabled]="formRequest.invalid" (click)="onSubmit()">Create Request </button>

                </div>

              </div>
            </div>

            <div class="alert alert-danger text-center" role="alert" *ngIf="errMsg[0]">
              {{errMsg[0]}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
