
body{
    font-family: 'Artifika', serif;

}


.client-count-wrp {
    /* background: #353030; */
    /* background: rgb(116, 30, 30); */
    background: rgb(48, 71, 94);


    padding: 100px 0px ;
}

.heading h4{
    color:rgb(240, 84, 84);
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 600;
}
.heading {
    color: #fff;
    margin-bottom: 50px;
    font-size: 18px;
}

.count-wrp-inner {
    display: flex;
    justify-content: space-between;
}

.cards h4 {
    color: #fff;
    font-size: 70px;
    line-height: 65px;
}

.cards:first-child h4 {
    color: #e4a600;
}

.cards:last-child h4 {
    color: #c81010;
}

.cards:nth-child(2) h4 {
    color: #48b84b;
}

.cards:nth-child(3) h4 {
    color: #28a5df;
}

.cards p {
    color: #fff;
    font-size: 20px;
}

@media (max-width:991px) {
    .mt-100 {
        margin-top: 30px !important;
    }
    .client-count-wrp {
        padding: 40px 0;
    }
    .client-count-wrp-inner {
        flex-direction: column;
    }
    .cards h4 {
        font-size: 50px;
        line-height: 40px;
    }
    .cards {
        margin: 20px 0;
    }
    .client-count-wrp {
        padding: 25px 0;
        margin: 0 25px;
    }
    /****/
}