<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bloodlife-home</title>
</head>

<body>

  <div class="first-part h-100 w-100 ">
    <!-- <img src="../../../assets/img/bloodho.png" alt="" class="w-100 h-75"> -->
    <div class='container-fluid text-light '>
      <h1>
        Donate
      </h1>
      <h1>&
      </h1>
      <h1>
        Save Lifes
      </h1>
      <br>

      <a class="btn btn-transparent btn-outline-info " routerLink='eligibilty-quiz'>Donate Now <i
          class="bi bi-arrow-right"></i></a>

      <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</body>

</html>
