
  <body class=" w-100 hh" style="overflow: hidden;">
  <div class="first-part ">
    <div class='container-fluid'>
      <div class="gray_background w-25 p-5 ">
      <h2 class="heading_color">
        Can I donate blood?
      </h2>
     <p class="opacity-75">Are you 18-75 years old, healthy and weigh over 50 kg? Find out if you can donate blood, and start changing lives.</p>
      <br>

      <a class="btn btn-transparent btn-outline-danger " routerLink="/eligibilty-quiz">Donate Now <i
          class="bi bi-arrow-right"></i></a>
</div>

    </div>
  </div>

<div class="row d-flex justify-content-center">
  <div class="col-6 pb-5">
<p class="h2 text-center heading_color ">We Save Lives</p>
<p class="text-center opacity-75">Find blood donors near your location and make a blood request in less than 5 minutes.
</p>
  </div>

</div>

  <div class="container">
    <div  class="row d-flex justify-content-center m-5">
  <div class="col-4 ">
    <div class="d-flex justify-content-center">
      <img src="../assets/img/blood.svg " class="w-25">
    </div>

     <p class="h4 text-center">Find Blood</p>
     <p class="text-center opacity-75">Find blood donors near your location and request the needed blood type</p>
  </div>

  <div class="col-4">
    <div class="d-flex justify-content-center">
      <img src="../assets/img/notifications.svg " class="w-25">
    </div>
    <p class="h4 text-center">Get Notified</p>
    <p class="text-center opacity-75">Get notified about requests instantly.</p>
  </div>

  <div class="col-4">
    <div class="d-flex justify-content-center">
      <img src="../assets/img/free.svg" class="w-25">
    </div>
    <p class="h4 text-center">Forever Free</p>
    <p class="text-center opacity-75">You don't have to pay anything, Save Life Connect is forever Free !</p>
  </div>
</div>
</div>

<app-dash-counter></app-dash-counter>

<div class="row d-flex justify-content-center m-5">
  <div class="col-6 p-5">
<p class="h2 text-center heading_color">Join the Cause</p>
<p class="text-center opacity-75">Join our cause and help us save more lives. Everyone should have the right to get a blood transfusion.

</p>
  </div>

</div>
<div>
<hr class="btmspace-80 m-5 ">
<p class="text-center heading_color h4">BLOOD DONATION: HOW IT WORKS</p>
</div>
<div class="container-fluid p-3">
  <div class="row d-flex justify-content-center p-5 ">
    <div class="col w-100">
      <div class="row gray_background h-100">
      <p class="text-center m-3 h6">BEFORE YOUR APPOINTMENT:</p>
      <img src="../assets/img/Preparing-to-donate.jpg" class="w-100" style="height: 90%;">
    </div>
    </div>
    <div class="col h-100 w-100 ">
      <div class="row ms-2 me-2 gray_background h-100">
      <p class="text-center mt-3 h6">THE DONATION PROCESS:</p>
      <img src="../assets/img/ThinkstockPhotos.jpg" class="w-100 h-50 mt-2">
      <p >Congratulations, you made an appointment to donate blood and save lives! So what happens now? There are four basic steps to every blood donation:</p>
      <ul class="ms-5 mb-5">
        <li>Registration</li>
        <li>Medical History</li>
        <li>Donation</li>
        <li>Rest & Refreshments</li>
      </ul>
    </div>
  </div>
    <div class="col w-100">
      <div class="row gray_background h-100 ">
      <p class="text-center m-3 h6">AFTER YOUR APPOINTMENT:</p>
      <img src="../assets/img/post-donation.jpg" class="w-100" style="height: 90%;">
    </div>
    </div>
  </div>
</div>
<div>
<hr class="btmspace-80 m-5 ">
<p class="text-center heading_color h4">Latest Articles About Health</p>
</div>
<div class="container d-flex justify-content-center">
  <div class="row p-5 ">
      <div class="col-4" *ngFor="let item of lastArticles">
          <img class="w-100 h-50" src="http://localhost:8000/storage/{{item.image}}" alt="">
          <h6 class="h5">{{item.title}}</h6>
        <div >
          <!-- <li class="list_style"><i class="fa fa-user"></i> <span class="pink_text ">Admin</span></li> -->
          <li class="list_style "><i class="fa fa-calendar"></i> <span class="pink_text ms-2">{{item.created_at|date }}</span> </li>
        </div>
        <p>{{item.content | slice:0:200}}</p>
      <a class="link_decoration pink_text"  routerLink="/article/details/{{item.article_id}}">Show More  &raquo;</a>

      </div>
  </div>
</div>
<div>
<hr class="btmspace-80 m-5 ">
<p class="text-center heading_color h4">You May Also Like</p>
</div>
<div class="container d-flex justify-content-center">
  <div class="row p-5">
      <div class="col-4">
          <img class="w-100" src="../assets/img/person-question.png" alt="">
          <h6 class="h5 mt-3">Can I donate blood?
          </h6>
        <p>See if you are eligible to donate blood today, or find answers to frequently asked questions.</p>

        <footer class=""><a class="link_decoration pink_text" routerLink="/faq">Check your eligibility  &raquo;</a></footer>

      </div>
      <div class="col-4">

          <img class="w-100" src="../assets/img/call-centre-content.png" alt="">
          <h6 class="h5 mt-3">Contact us</h6>

        <p>Couldn’t find what you were looking for in our FAQs? That’s OK — our team can help. Just get in touch.</p>

        <footer class=""><a class="link_decoration pink_text" href="#">Contact us   &raquo;</a></footer>

      </div>
      <div class="col-4 ">
          <img class="w-100" src="../assets/img/group-blood-content.png" alt="">
          <h6 class="h5 mt-3">Share your information with us </h6>

        <p>see what people say and share your information about health and blood donation.</p>

        <footer class=""><a class="link_decoration pink_text" routerLink="/posts">Show Posts  &raquo;</a></footer>

      </div>
  </div>
</div>
  </body>




