<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  <link rel="stylesheet" href="./donors.component.css">
</head>
<body>
  <div class="container mt-3 mb-4">
    <div class="col-xxlg-9 mt-4 mt-lg-0">
      <div class="row">
        <div class="col-md-12">
          <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
            <table class="table manage-candidates-top mb-0">
              <thead>
                <tr style="color: red;">
                  <th scope="col"> VOLUNTEER</th>
                  <th scope="col" class="action text-left">
                    <a href="../location/" target="_blank">
                      <i class="fas fa-map-marker-alt pr-1"></i>
                    </a>
                    LOCATION
                  </th>
                  <th scope="col">BLOOD GROUP</th>
                </tr>
              </thead>
              <tbody>
                <tr class="candidates-list">
                  <td  class="title">
                    <div class="thumb">
                      <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                    </div>
                    <div class="candidate-list-details">
                      <div class="candidate-list-info">
                        <div class="candidate-list-title">
                          <h5 class="mb-0"> Ahmad Ali </h5>
                        </div>
                        <div class="candidate-list-option">
  
                          <ul class="list-unstyled">
                            <li>
                              Lorem ipsum dolor sit, amet consec
                            </li>
                          </ul>
                        </div>
  
                      </div>
                    </div>
                  </td>
                  <td class="candidate-list-favourite-time ">
                    <span class="candidate-list-time order-1"> Lorem ipsum dolor sit, amet consec </span>
                  </td>
                  <td class="candidate-list-favourite-time text-center">
                    <span class="candidate-list-time order-1"> B + </span>
                  </td>
                </tr>
                <tr class="candidates-list">
                  <td class="title">
                    <div class="thumb">
                      <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                    </div>
                    <div class="candidate-list-details">
                      <div class="candidate-list-info">
                        <div class="candidate-list-title">
                          <h5 class="mb-0"> Ahmad Ali </h5>
                        </div>
                        <div class="candidate-list-option">
  
                          <ul class="list-unstyled">
                            <li>
                              Lorem ipsum dolor sit, amet consec
                            </li>
                          </ul>
                        </div>
  
                      </div>
                    </div>
                  </td>
                  <td class="candidate-list-favourite-time ">
  
                    <span class="candidate-list-time order-1"> Lorem ipsum dolor sit, amet consec </span>
                  </td>
                  <td class="candidate-list-favourite-time text-center">
  
  
                    <span class="candidate-list-time order-1"> A + </span>
                  </td>
                </tr>
                <tr class="candidates-list">
                  <td class="title display-1">
                    <div class="thumb">
                      <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
  
                    </div>
                    <div class="candidate-list-details">
                      <div class="candidate-list-info">
                        <div class="candidate-list-title">
                          <h5 class="mb-0"> Ahmad Ali </h5>
                        </div>
                        <div class="candidate-list-option">
  
                          <ul class="list-unstyled">
                            <li>
                              Lorem ipsum dolor sit, amet consec
                            </li>
                          </ul>
                        </div>
  
                      </div>
                    </div>
                  </td>
                  <td class="candidate-list-favourite-time ">
  
                    <span class="candidate-list-time order-1"> Lorem ipsum dolor sit, amet consec </span>
                  </td>
                  <td class="candidate-list-favourite-time text-center">
  
  
                    <span class="candidate-list-time order-1"> AB + </span>
                  </td>
                </tr>
              </tbody>
              <br>
            </table>
            <!-- <div class="text-center mt-3 mt-sm-3">
              <ul class="pagination justify-content-center mb-0">
                <li class="page-item disabled"> <span class="page-link">Prev</span> </li>
                <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span
                    class="sr-only">(current)</span></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">25</a></li>
                <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</body>
</html>


