.gradient-custom-2 {
  
  background-color: #F05454;

  }

  .gradient-form{
    margin-bottom: 15%;
  }
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  .bi{
    font-size: 67px;
    padding-bottom: 10%;
    color:rgb(240, 84, 84);


  }

