<div class="container d-flex justify-content-center">
    <div class="row p-5  ">
      
        <div class="col-lg-8 d-flex justify-content-center"><img class="w-100" src="../assets/img/img.png" alt=""></div>
        <div class="col-lg-4">
          <h6 class="h4">Per inceptos himenaeos donec lacinia mollis vel</h6>
          <ul class="" >
            <li class="list_style "><i class="fa fa-user"></i><span class="pink_text">Admin</span> </li>
            <li class="list_style ms-3"><i class="fa fa-tag"></i><span class="pink_text"> Tag Name</span></li>
          </ul>
          <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
          <p class="">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
          <footer class=""><a class="link_decoration pink_text" href="#">Show More &raquo;</a></footer>
        </div>
      
</div>
</div>

<hr class="btmspace-80 m-5 ">

<div class="container d-flex justify-content-center">
    <div class="row p-5">
        <div class="col-4">
            <img class="w-100" src="../assets/img/img.png" alt=""> 
            <h6 class="h5">Per inceptos himenaeos donec lacinia mollis vel</h6>
          <ul >
            <li class="list_style"><i class="fa fa-user"></i> <span class="pink_text ">Admin</span></li>
            <li class="list_style ms-3"><i class="fa fa-tag"></i> <span class="pink_text ">Tag Name</span></li>
          </ul>
          <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
          <p class="">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
          <footer class=""><a class="link_decoration pink_text" href="#">Show More  &raquo;</a></footer>

        </div>
        <div class="col-4">

            <img class="w-100" src="../assets/img/img.png" alt=""> 
            <h6 class="h5">Per inceptos himenaeos donec lacinia mollis vel</h6>
          <ul class="">
            <li class="list_style"><i class="fa fa-user"></i> <span class="pink_text ">Admin</span></li>
            <li class="list_style ms-3"><i class="fa fa-tag"></i> <span class="pink_text ">Tag Name</span></li>
          </ul>
          <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
          <p class="">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
          <footer class=""><a class="link_decoration pink_text" href="#">Show More  &raquo;</a></footer>

        </div>
        <div class="col-4 ">
            <img class="w-100" src="../assets/img/img.png" alt=""> 
            <h6 class="h5">Per inceptos himenaeos donec lacinia mollis vel</h6>
          <ul class="">
            <li class="list_style"><i class="fa fa-user"></i> <span class="pink_text ">Admin</span></li>
            <li class="list_style ms-3"><i class="fa fa-tag"></i> <span class="pink_text ">Tag Name</span></li>
          </ul>
          <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
          <p class="">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
          <footer class=""><a class="link_decoration pink_text" href="#">Show More  &raquo;</a></footer>

        </div>
    </div>
</div>

<!-- *********************************************************************** -->


<div class="container d-flex justify-content-center">
    <div class="row p-5">
        <div class="col-lg-4">
            <img class="w-100" src="../assets/img/img.png" alt=""> 
            <h6 class="h5">Per inceptos himenaeos donec lacinia mollis vel</h6>
          <ul >
            <li class="list_style"><i class="fa fa-user"></i> <span class="pink_text ">Admin</span></li>
            <li class="list_style ms-3"><i class="fa fa-tag"></i> <span class="pink_text ">Tag Name</span></li>
          </ul>
          <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
          <p class="">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
          <footer class=""><a class="link_decoration pink_text" href="#">Show More  &raquo;</a></footer>

        </div>
        <div class="col-lg-4">

            <img class="w-100" src="../assets/img/img.png" alt=""> 
            <h6 class="h5">Per inceptos himenaeos donec lacinia mollis vel</h6>
          <ul class="">
            <li class="list_style"><i class="fa fa-user"></i> <span class="pink_text ">Admin</span></li>
            <li class="list_style ms-3"><i class="fa fa-tag"></i> <span class="pink_text ">Tag Name</span></li>
          </ul>
          <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
          <p class="">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
          <footer class=""><a class="link_decoration pink_text" href="#">Show More  &raquo;</a></footer>

        </div>
        <div class="col-lg-4 ">
            <img class="w-100" src="../assets/img/img.png" alt=""> 
            <h6 class="h5">Per inceptos himenaeos donec lacinia mollis vel</h6>
          <ul class="">
            <li class="list_style"><i class="fa fa-user"></i> <span class="pink_text ">Admin</span></li>
            <li class="list_style ms-3"><i class="fa fa-tag"></i> <span class="pink_text ">Tag Name</span></li>
          </ul>
          <p>Aliquam mauris morbi tristique orci sit amet sapien tincidunt ut rutrum dui tincidunt.</p>
          <p class="">Cras eget lacinia magna nunc ut est est cras aliquam erat sem at dapibus lorem luctus sed nunc sagittis leo in&hellip;</p>
          <footer class=""><a class="link_decoration pink_text" href="#">Show More  &raquo;</a></footer>

        </div>
    </div>
</div>
      
      
      
      