<!-- Banner -->

<a class="btn w-full btn-danger text-truncate rounded-0 py-2 border-0 position-relative" [routerLink]="['/home']"
  style="z-index: 1000;">
  <strong>Hello Admin </strong> from donatelife website →
</a>

<!-- Dashboard -->
<div class="d-flex h-screen flex-column  flex-lg-row h-lg-full bg-surface-secondary ">
  <!-- Vertical Navbar -->
  <nav
    class="navbar show navbar-vertical h-lg-screen col-lg navbar-expand-lg px-0 py-2 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
    id="navbarVertical">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
        aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-4 fs-3 me-1 fw-bold text-danger">
        <i class="bi bi-chat-right-heart "></i> donatelife
      </a>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse">
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
              <i class="bi bi-house"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/adminn/posts-admin">
              <i class="bi bi-bar-chart"></i>
              <span>posts</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/adminn/articles-admin">
              <i class="bi bi-chat"></i> <span> Articles </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/adminn/requests-admin">
              <i class="bi bi-bookmarks"></i> <span> Requests </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/adminn/feedback-admin">
              <i class="bi bi-broadcast"></i> <span> Feedback </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/adminn/users-admin" data-target="#collapsePages"
              aria-expanded="true" aria-controls="collapsePages">
              <i class="bi bi-people"></i> <span> All Users </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/adminn/add-article" data-target="#collapsePages"
              aria-expanded="true" aria-controls="collapsePages">
              <i class="bi bi-plus-circle"></i><span> Add Article </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/adminn/add-admin">
              <i class="bi bi-plus-circle"></i><span> Add New Admin </span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="navbar-divider my-5 opacity-20">

        <!-- User (md) -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink='/profile'>
              <i class="bi bi-person-square"></i> Account
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="flex-grow h-auto overflow  col-lg-10  col-sm-12">
    <router-outlet></router-outlet>

  </div>
  <!-- <script src="../../../../assets/customjs/custom.js">
  </script> -->

</div>