<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">

  <!-- <main class="py-6 bg-surface-secondary"> -->
  <div class="container mt-4">
    <!-- Card stats -->



    <form [formGroup]="adminForm">

      <div class="form-group mb-3">
        <label for="email" class="form-label">Email address :</label>
        <input type="email" name="email" required class="form-control" id="email" formControlName="email"
          aria-describedby="emailHelp" [class.is-invalid]="isInValidAndTouched('email')"
          [class.is-valid]="isValidControl('email')">
        <div *ngIf="isInValidAndTouched('email')">
          <small class="form-text text-danger" *ngIf="isControlHasError('email','required')">email is required </small>
          <small class="form-text text-danger" *ngIf="isControlHasError('email','pattern')">invalid email</small>
        </div>
      </div>




      <button type="submit" class="btn btn-danger"  (click)="add()">Add Admin </button>
    </form>
  </div>

</div>
