<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="gray-bg">
    
<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">Ahmed Ali</h3>
                    <h6 class="theme-color lead">An Egyption Designer love donation</h6>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Birthday</label>
                                <p>3th april 1998</p>
                            </div>
                            <div class="media">
                                <label>Age</label>
                                <p>23 Yr</p>
                            </div>
                            <div class="media">
                                <label>Country</label>
                                <p>Egypt</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>Cairo</p>
                            </div>
                            <div class="media">
                                <label>Last Date domain</label>
                                <p>null</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>info@domain.com</p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>820-885-3321</p>
                            </div>
                            <div class="media">
                                <label>Gender</label>
                                <p>male</p>
                            </div>
                            <div class="media">
                                <label>Blood Group</label>
                                <p>O</p>
                            </div>
                            <div class="media">
                                <label>RH</label>
                                <p>+</p>
                            </div>

                            <br><br>
                            <button class="btn btn-danger mt-3">Edit Profile </button>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="about-avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                </div>
            </div>
        </div>
        <div class="counter mt-2">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="500" data-speed="500">100</h6>
                        <p class="m-0px font-w-600">Posts</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="150" data-speed="150">30</h6>
                        <p class="m-0px font-w-600">Requests</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="850" data-speed="850">30</h6>
                        <p class="m-0px font-w-600">Response</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="190" data-speed="190">10</h6>
                        <p class="m-0px font-w-600">Donation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--  requests -->
<div class="container ">
<div class="row">


                <div class="forum-title">
                    <div class="pull-right forum-desc">
                        <small>Total Requests: 5 Request</small>
                    </div>
                    <h3>General Requests</h3>
                </div>

                <div class="forum-item ">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-icon ">
                                <i class="fa fa-shield text-danger"></i>
                            </div>
                            <a href="forum_post.html" class="forum-item-title text-danger"> Description</a>
                            <div class="forum-sub-title text-dark">I need someone to donate blood type O+ from Cairo within 6 hours</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                121
                            </span>
                            <div>
                                <small>Views</small>
                            </div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                10
                            </span>
                            <div>
                                <small>Response</small>
                            </div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                5
                            </span>
                            <div>
                                <small>Accepted</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ////// -->

                <div class="forum-item ">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-icon text-danger">
                                <i class="fa fa-star text-danger"></i>

                            </div>
                            <a href="forum_post.html" class="forum-item-title text-danger"> ReQuests</a>


                            <!-- kpedc -->


                            
                        </div>
 </div>
           
 </div>
 </div>

 <!-- ////////////////////////////////////////////////////// -->
 
<div class="container ">
    <div class="row">
        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Profile</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Mohamed Ali</h6>
                    <p class="text-muted">Active | Male | Born 23.05.1992 | cairo ma3ady</p>
                    <hr>
                    <p class="text-muted m-t-15"> +20-011-35659 </p>

                    <p class="text-muted m-t-15"> blood Group : O </p>
                    <p class="text-muted m-t-15"> RH: Positive </p>

                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    
                    <p class="m-t-15 text-muted">just contact me and i will be there</p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-whatsapp text-whatsapp"></i></a></div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Profile</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Khaled</h6>
                    <p class="text-muted">Active | Male | Born 23.05.1992 | Alex-smoha</p>
                    <hr>
                    <p class="text-muted m-t-15"> +20-011-35659 </p>

                    <p class="text-muted m-t-15"> blood Group : AB </p>
                    <p class="text-muted m-t-15"> RH: Positive </p>                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
            
                    <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and </p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-whatsapp text-whatsapp"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Profile</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10"> Mostafa</h6>
                    <p class="text-muted">Active | Male | Born 23.05.1992 | cairo zmalik</p>
                    <hr>
                    <p class="text-muted m-t-15"> +20-011-35650 </p>

                    <p class="text-muted m-t-15"> blood Group : A </p>
                    <p class="text-muted m-t-15"> RH: Negative </p>         
                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li ></li>
                        <li></li>
                        <li></li>
                    </ul>
                
                    <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and </p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-whatsapp text-whatsapp"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<!-- /////////////////////////////////////another req -->



<div class="forum-item ">
    <div class="row">
        <div class="col-md-9">
            <div class="forum-icon text-info">
                <i class="fa fa-shield text-info"></i>
            </div>
            <a href="forum_post.html" class="forum-item-title text-info"> Description</a>
            <div class="forum-sub-title text-dark">I need someone to donate blood type A- from Mansoura within 10 hours</div>
        </div>
        <div class="col-md-1 forum-info">
            <span class="views-number">
                70
            </span>
            <div>
                <small>Views</small>
            </div>
        </div>
        <div class="col-md-1 forum-info">
            <span class="views-number">
                7
            </span>
            <div>
                <small>Response</small>
            </div>
        </div>
        <div class="col-md-1 forum-info">
            <span class="views-number">
                3
            </span>
            <div>
                <small>Accepted</small>
            </div>
        </div>
    </div>
</div>



<div class="forum-item ">
    <div class="row">
        <div class="col-md-9">
            <div class="forum-icon">
                <i class="fa fa-star text-info"></i>

            </div>
            <a href="forum_post.html" class="forum-item-title text-info"> ReQuests</a>


            <!-- kpedc -->


            
        </div>
</div>

</div>
<!-- ////////////////////////////////////////////////////// -->

<div class="container">
<div class="row">
<div class="col-md-4">
<div class="card user-card">
<div class="card-header">
    <h5>Profile</h5>
</div>
<div class="card-block">
    <div class="user-image">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
    </div>
    <h6 class="f-w-600 m-t-25 m-b-10">Mohamed Ali</h6>
    <p class="text-muted">Active | Male | Born 23.05.1992 | cairo ma3ady</p>
    <hr>
    <p class="text-muted m-t-15"> +20-011-35659 </p>

    <p class="text-muted m-t-15"> blood Group : O </p>
    <p class="text-muted m-t-15"> RH: Positive </p>

    <ul class="list-unstyled activity-leval">
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li></li>
        <li></li>
    </ul>
    
    <p class="m-t-15 text-muted">just contact me and i will be there</p>
    <hr>
    <div class="row justify-content-center user-social-link">
        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
        <div class="col-auto"><a href="#!"><i class="fa fa-whatsapp text-whatsapp"></i></a></div>

    </div>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card user-card">
<div class="card-header">
    <h5>Profile</h5>
</div>
<div class="card-block">
    <div class="user-image">
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image">
    </div>
    <h6 class="f-w-600 m-t-25 m-b-10">Khaled</h6>
    <p class="text-muted">Active | Male | Born 23.05.1992 | Alex-smoha</p>
    <hr>
    <p class="text-muted m-t-15"> +20-011-35659 </p>

    <p class="text-muted m-t-15"> blood Group : AB </p>
    <p class="text-muted m-t-15"> RH: Positive </p>                    <ul class="list-unstyled activity-leval">
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li></li>
        <li></li>
    </ul>

    <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and </p>
    <hr>
    <div class="row justify-content-center user-social-link">
        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
        <div class="col-auto"><a href="#!"><i class="fa fa-whatsapp text-whatsapp"></i></a></div>
    </div>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card user-card">
<div class="card-header">
    <h5>Profile</h5>
</div>
<div class="card-block">
    <div class="user-image">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-radius" alt="User-Profile-Image">
    </div>
    <h6 class="f-w-600 m-t-25 m-b-10"> Mostafa</h6>
    <p class="text-muted">Active | Male | Born 23.05.1992 | cairo zmalik</p>
    <hr>
    <p class="text-muted m-t-15"> +20-011-35650 </p>

    <p class="text-muted m-t-15"> blood Group : A </p>
    <p class="text-muted m-t-15"> RH: Negative </p>         
    <ul class="list-unstyled activity-leval">
        <li class="active"></li>
        <li class="active"></li>
        <li ></li>
        <li></li>
        <li></li>
    </ul>

    <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and </p>
    <hr>
    <div class="row justify-content-center user-social-link">
        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
        <div class="col-auto"><a href="#!"><i class="fa fa-whatsapp text-whatsapp"></i></a></div>
    </div>
</div>
</div>
</div>
</div>
</div>


<!-- ///////////////////////////////// user posts/////////////////////////////////////////////////////////////// -->

 <!-- dfjkdsfjkdkd -->
 <div class="container d-flex justify-content-center mt-50 mb-50 ">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h3 class="card-title text-dark" >Latest aproved posts</h3>
        <div class="header-elements">
          <div class="list-icons mb-2"> <a class="fa fa-close" data-action="collapse" data-abc="true"></a> </div>
        </div>
      </div>
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-xl-6">
            <div class="media flex-column flex-sm-row mt-0 mb-3">
              <div class="mr-sm-3 mb-2 mb-sm-0">
                <div class="card-img-actions"> <a href="#" data-abc="true"> <img
                      src="https://i.imgur.com/H0SJA0j.jpg" class="img-fluid img-preview rounded" alt=""> </a>
                </div>
              </div>
              <div class="media-body">
                <h6 class="media-title"><a href="#" data-abc="true"> healthy life style</a>
                <br> <small class="text-muted">14 Nov 2021</small>
                </h6>
                <ul class="list-inline list-inline-dotted text-muted mb-2">
                  <li class="list-inline-item"><i class="fa fa-book mr-2"></i> Book tutorials</li>
                  <br>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill"></span>
                  <span class="bi bi-star-fill"></span>
                  <br> <small class="text-muted">rated by 40 people</small>

                </ul> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's

                <small>
                  <div class="d-flex justify-content-between  mt-2 text-muted"><span>seen by 120 views</span><span class="text-info">View &nbsp;<i class="fa fa-angle-right"></i></span></div>
                </small> 
              </div>
            </div>
            <div class="media flex-column flex-sm-row mt-0 mb-3">
              <div class="mr-sm-3 mb-2 mb-sm-0">
                <div class="card-img-actions"> <a href="#" data-abc="true"> <img
                      src="https://i.imgur.com/I2Gq4ML.jpg" class="img-fluid img-preview rounded" alt=""> </a>
                </div>
              </div>
              <div class="media-body">
                <h6 class="media-title"><a href="#" data-abc="true">Relaxation </a>
                 <br> <small class="text-muted">04 may 2021</small>
                </h6>
                <ul class="list-inline list-inline-dotted text-muted mb-2">
                  <li class="list-inline-item"><i class="fa fa-video-camera mr-2"></i> Video tutorials</li>
                  <br>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill "></span>
                  <span class="bi bi-star-fill"></span>
                  <span class="bi bi-star-fill"></span>
                  <br> <small class="text-muted">rated by 120 people</small>
                </ul> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's
                <small>
                <div class="d-flex justify-content-between  mt-2 text-muted"><span>seen by 172 views</span><span class="text-info">View &nbsp;<i class="fa fa-angle-right"></i></span></div>
              </small>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="media flex-column flex-sm-row mt-0 mb-3">
              <div class="mr-sm-3 mb-2 mb-sm-0">
                <div class="card-img-actions"> <a href="#" data-abc="true"> <img
                      src="https://i.imgur.com/4Iu9qtM.jpg" class="img-fluid img-preview rounded" alt=""> </a>
                </div>
              </div>
              <div class="media-body">
                <h6 class="media-title"><a href="#" data-abc="true"> morning routen</a>
                  <br> <small class="text-muted">04 may 2021</small></h6>
                <ul class="list-inline list-inline-dotted text-muted mb-2">

                  <li class="list-inline-item"><i class="fa fa-video-camera mr-2"></i> Video tutorials</li>
                  <br>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill"></span>
                  <br> <small class="text-muted">rated by 70 people</small>

                </ul> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's

                <small>
                  <div class="d-flex justify-content-between  mt-2 text-muted"><span>seen by 100 views</span><span class="text-info">View &nbsp;<i class="fa fa-angle-right"></i></span></div>
                </small>
              </div>
            </div>
            <div class="media flex-column flex-sm-row mt-0 mb-3">
              <div class="mr-sm-3 mb-2 mb-sm-0">
                <div class="card-img-actions"> <a href="#" data-abc="true"> <img
                      src="https://i.imgur.com/8pHTmIb.jpg" class="img-fluid img-preview rounded" alt=""> </a>
                </div>
              </div>
              <div class="media-body">
                <h6 class="media-title"><a href="#" data-abc="true">color effections</a>
                  <br> <small class="text-muted">15 Feb 2022</small></h6>
                <ul class="list-inline list-inline-dotted text-muted mb-2">
                  <li class="list-inline-item"><i class="fa fa-question-circle mr-2"></i> Articls tutorils</li>
                  <br>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill checked"></span>
                  <span class="bi bi-star-fill "></span>
                  <span class="bi bi-star-fill"></span>
                  <br> <small class="text-muted">rated by 50 people</small>

                </ul> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's

                <small>
                  <div class="d-flex justify-content-between  mt-2 text-muted"><span>seen by 200 views</span><span class="text-info">View &nbsp;<i class="fa fa-angle-right"></i></span></div>
                </small> 
              </div>
            </div>
      
            <button class="btn btn-info text-light " style="margin: 5%;">Read More . . . </button>
          
          </div>
        </div>

      </div>
    </div>
  </div>
