<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./login.component.css">
    <title>Document</title>
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="alert alert-danger text-center" role="alert" *ngIf="errMsg.error">

            Invalid Email or Password.
           </div>
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">

                      <div class="text-center">
                        <i class="bi bi-chat-right-heart "></i>
                        <h4 class="mt-3 mb-5 pb-1 text-danger">We are The Donatelife Team</h4>
                      </div>

                      <form [formGroup]="loginForm" >
                        <p>Please login to your account</p>

                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example11">Username</label>
                          <input
                         type="email"  class="form-control" placeholder="email address" formControlName="email"/>
                         <div *ngIf="loginForm.controls['email'].errors">
                          <small class="form-text text-danger">
                            invalid email address
                          </small>
                        </div>
                        </div>


                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example22">Password</label>
                          <input type="password"
                          class="form-control"
                        formControlName="password" placeholder="password"
                         />
                         <div *ngIf="loginForm.controls['password'].errors">
                          <small class="form-text text-danger">
                            invalid email address
                          </small>
                        </div>
                        </div>


                      <!-- </div> -->
                        <div class="pt-1 mb-4">
                            <button [disabled]="loginForm.invalid" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" (click)="login()">Log in</button>
                          </div>

                        <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink="/register" style="color: #393f81;">Register here</a></p>
                        <!-- <a href="#!" class="small text-muted">Terms of use.</a> -->
                        <!-- <a href="#!" class="small text-muted">Privacy policy</a> -->

                      </form>

                    </div>
                  </div>

                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">We are more than just a company</h4>
                      <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
