<div class="w-100 gray_background mt-5 p-5">
    <p class="h3 pink_text text-center ">Medication and medical devices</p>
    <p class="text-center">Most medications don’t affect whether you can donate, but some do. See if yours might affect your ability to donate. </p>
</div>

<hr class="btmspace-80 m-5 ">

<div>
<mat-accordion>
    <mat-expansion-panel hideToggle>

    </mat-expansion-panel>
    <div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I’m using testosterone patches or receiving testosterone injections. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mt-3 opacity-75">If your medication was prescribed by a doctor, you can donate. In some cases, testosterone may cause your haemoglobin levels (a protein in your blood that transports oxygen) to increase to above the acceptable range for donation. Don’t worry, though — we test your haemoglobin level before each donation and if it’s within the acceptable range on the day, you can donate.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" class="">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I take blood pressure medicine. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Yes, providing your blood pressure is adequately controlled, stable, and you don’t have any side effects related to your medication.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I’m taking antibiotics. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Maybe. It depends on why you’re taking the antibiotics.   Recent infection: The infection must have resolved at least one week ago and you need to have completed the full course of antibiotics five days before you donate.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            How long after I've had a vaccination can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">It depends on the type of vaccine.  These vaccines don't include any live material and you can donate straight away after having one. Diphtheria Influenza (both seasonal flu and H1N1 or 'swine' flu) Hepatitis A Meningococcus Pertussis (whooping cough) Pneumococcus Q fever Tetanus Human papillomavirus (Gardasil) Shingrix for shingles</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I've had a hepatitis vaccination. Can I give blood?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Yes, but when you can give blood depends on the type of hepatitis vaccination you've had. Hepatitis B vaccine: You’ll need to wait two weeks before you donate. This also applies for combined hepatitis A and B vaccines. Hepatitis A vaccine: It’s okay to give blood straight away.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I have a pacemaker. Can I give blood?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Usually, yes, but you’ll need to wait six months after getting your pacemaker. Please contact us to double check if you can donate.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            What prescribed medications will prevent me from donating?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Most prescribed medicines don’t prevent you from donating, but the medical condition they are prescribed for might.  You can’t donate while you’re taking any of the following medications and for a period of time after you’ve finished:  Isotretinoin (Roaccutane, Oratane): used for acne   Acitretin (Neotigason): used for acne and psoriasis   Etretinate (Tigason): used for acne   Dutasteride…</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I am taking hormone replacement therapy (HRT). Am I eligible to donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Yes, you can donate. Taking hormone replacement therapy doesn’t affect your ability to donate blood.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I've had a contraceptive injection or implant. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Yes. Having an injection (e.g. DepoProvera®) or implant (e.g. Implanon®, IUD) inserted for birth control doesn’t affect whether you can donate, as long as there are no complications from the procedure.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I am on the pill. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Yes. Taking birth control pills (oral contraceptives or ‘the pill’) doesn’t affect your ability to donate blood at all.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
            I take medication for cholesterol reduction. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Usually, yes. If you take cholesterol-lowering medication prescribed to prevent coronary artery disease, you can still give blood. But, if you have existing coronary artery disease, you won’t be able to donate blood for your own safety.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class=" h6">
            I take an antidepressant. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Usually yes, as long as you’re well and have no side effects from the medication. To confirm if you can donate, please contact us.</p>
    </mat-expansion-panel>
</div>
  </mat-accordion>
</div>
  

