
<div class="w-100 gray_background mt-5 p-5">
    <p class="h3 pink_text text-center ">Other</p>
    <p class="text-center">Need a different question answered? Take a look and find it here. </p>
</div>

<hr class="btmspace-80 m-5 ">

<div>
<mat-accordion>
    <mat-expansion-panel hideToggle>

    </mat-expansion-panel>
    <div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
          How much should I weigh to donate blood?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="mt-3 opacity-75">To protect your health as a blood donor, there are minimum and maximum weights to donate. To donate blood, the minimum weight is 50 kg. We need you to be above a minimum weight because the amount of blood your body contains is related to your weight and height. If our standard donation represents too high a volume, it's not safe for you to donate.</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" class="">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
          I’ve been in prison. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Yes, just not right away. If you spent more than 72 hours in lockup, you’ll need to wait 12 months from the date you leave due to higher rates of hepatitis B and C and HIV in the prison population. </p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
          I’ve been exposed to per- and poly-fluoroalkyl substances (PFASs). Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Yes, you can. Per- and poly-fluoroalkyl substances, also known as PFASs, are a group of manufactured chemicals that have been used since the 1950s in a range of common household products and specialty applications, including in the manufacture of non-stick cookware, fabric, furniture and carpet stain protection applications, and more. </p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
          I’m having my period. Can I donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Yes. Menstruating doesn’t affect your ability to donate. Enjoy your relaxing time on the donation couch and a tasty snack afterwards. As someone who menstruates, it’s a good idea to check out our information about iron. </p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
          Does lead affect my ability to donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Lead is a heavy metal which is toxic to our nervous systems. If someone has more than 10 micrograms of lead per deciliter of their blood (μg/dL) it can cause digestive, cardiovascular, kidney, reproductive and nervous system problems. The risks are highest for unborn babies, infants and children</p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
          I don’t want to leave my kids alone while I donate. Can someone watch them for me?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">Unfortunately, no. While we love having children around, we don’t offer any kind of childcare in our donor centres. For everyone's safety, children need to be supervised by an adult who isn’t donating. </p>
    </mat-expansion-panel>
</div>

<div class="row d-flex justify-content-center m-5 shadow p-3">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-5 h6">
          What age do I need to be to donate?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="opacity-75">For your safety, there are minimum and maximum ages for blood donation. The minimum age is 18 and the maximum age is 75 for first-time donors. Minimum age for blood donation: 18 Giving blood is one of the exciting things you can do when you turn 18. When you give blood, you give a bit of iron from that blood too. Iron is super important when you’re still growing, which is why you can’t donate…</p>
    </mat-expansion-panel>
</div>
  </mat-accordion>
</div>
  

