body{
    font-family: 'Artifika', serif;
}

footer { 
  
    background-color:rgb(53, 72, 90);

    position:fixed;
    bottom: 0;
    width: 100%;
 }

 footer >.copyright{
    background-color:rgb(27, 34, 41);
    color:rgb(231, 233, 235);
    font-size: 15px;
    position:relative;
    bottom: 0;


 }